
<h2>Name of Oragnization: <%= @user.name %></h2>

<h2>Address: <%= @user.address %></h2>

<h3>Current openings</h3>

<% @posts.each do |post| %>
  <%= post['body'] %><br>
  <%= post['location'] %><br>
  <%= post['category'] %><br>
  <%= post['stamp'] %><br>
  <% if logged_in? && current_user.id == @user.id%>
    <a href="/buildbridges/edit" class="button">Edit</a>
    <form action="/buildbridges/post/<%= post['id'] %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete</button>
    </form>
  <% end %>
  <hr>
<% end %>

<% if logged_in? && current_user.id == @user.id %>

  <h3>Add more openings</h3>

  <form action="/buildbridges/add_post" method="post">
    <%= erb :partial %>

    <button>Post</button>
    <hr>
  </form>

  <h3>Enquiries</h3>
  <% if @enquiries %>
    <% @enquiries.each do |enquiry| %>
      <%= enquiry['body'] %><br>
      <%= enquiry['stamp'] %>
      <form action="/buildbridges/enquiry/<%= enquiry['id'] %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Resolved</button>
      </form>
      <hr>
    <% end %>
  <% end %>

<% else %>
  <form action="/buildbridges/add_enquiry" method="post">
    <input type="hidden" name="user_id" value="<%= @user['id'] %>">
    <label for="enquirybody">Post your questions here</label>
    <textarea id="enquirybody" name="body"></textarea>
    <button>Enquire</button>
    <hr>
  </form>

<% end %>

<!-- <a href="/buildbridges">Home Page</a> -->
